/* Стиль фона страницы */
body {
    background-color: #f0f0f0;
    /* Светло-серый фон */
    font-family: Arial, sans-serif;
    /* Шрифт */
}

/* Стиль для контейнера с новостью */
#news-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

/* Стиль для ячейки */
.cell {
    display: flex;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin: 10px 0;
}

/* Стиль для изображения */
.image {
    width: 200px;
    /* Ширина изображения */
    height: auto;
    /* Автоматическая высота для сохранения пропорций */
    border-radius: 8px;
    /* Скругленные углы для изображения */
    margin-right: 20px;
    /* Отступ справа от изображения */
}

/* Контейнер для текста и автора */
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Стиль для текста */
.text {
    font-size: 16px;
    /* Размер шрифта */
    color: #333333;
    /* Цвет текста */
    margin-bottom: 10px;
    /* Отступ снизу от текста */
}

/* Стиль для автора */
.author {
    font-size: 14px;
    /* Размер шрифта для автора */
    color: #888888;
    /* Цвет для автора */
    margin-top: 10px;
    /* Отступ сверху от автора */
}